<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="dishes"> 
    
        <!-- <h2> user's email: <%=currentUser.email%></h2> -->

        <form action="/sessions" method="post">
            <input type="hidden" name="_method" value="delete"/>
            <button>log out</button>
        </form>

        <form action="/users/<%=currentUser.id%>" method="post">
            <input type="hidden" name="_method" value="delete" />
                 <button>delete user</button>
        </form>
        <!-- <h2><%=currentUser.email%> regular orders are:</h2> -->

    
    <% for (let order of orders){%>

        <div class="ui-card">
            <a href="/items/<%= order.item_id% >"><%= order.order_type%></a>
            <div><%=order.item_id%></div>
            <p><%=order.item_quantity%></p>
        </div>
            
    <% } %>
    </section>
</body>
</html>